@import "tailwindcss";

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  font-size: 16px;
}

* {
  list-style-type: none;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f9fafb;
  --bg-secondary-rgb: 249, 250, 251;
  --text-primary: #111827;
  --text-primary-rgb: 17, 24, 39;
  --text-secondary: #6b7280;
  --accent-primary: #3b82f6;
  --accent-secondary: #2952a3;
  --accent-secondary-rgb: 243, 248, 254;
  --border-color: #d1d5db;
  --card-bg: #ffffff;
  --modal-bg: #ffffff;
  --bg-button: #0000001a;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #1a1a1a;
  --bg-secondary-rgb: 26, 26, 26;
  --text-primary: #e5e7eb;
  --text-primary-rgb: 229, 231, 235;
  --text-secondary: #9ca3af;
  --accent-primary: #4d7cff;
  --accent-secondary: #3564e4;
  --accent-secondary-rgb: 37, 38, 42;
  --border-color: #374151;
  --card-bg: #1f1f1f;
  --modal-bg: #25262a;
  --bg-button: #ffffff1a;
}

.tabs-scroll::-webkit-scrollbar {
  height: 0px;
}

.tabs-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.tabs-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.tabs-scroll::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.tabs-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.modal-open {
  overflow: hidden;
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
